{% extends "groups/group_base.html" %}
{% block pregroup %}
{% load guardian_tags %}
{% get_obj_perms request.user for group as "group_perm" %}
<div class="col-md-4">
    <h1>{{group.name}}</h1>
    <h4>Description : {{ group.description }}</h4>
    <h4>Total member : {{ group.members.count }} - Total posts: {{group.posts.count}}</h4>
    <div class="content">
        {% if "can_delete" in group_perm %}
        <a href="{% url 'groups:delete' slug=group.slug %}" class="btn btn-sm btn-fill btn-danger"><span
                class="glyphicon glyphicon-remove-circle"></span> Delete</a>
        {% endif %}
        {% if user in group.members.all %}
        <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-sm btn-fill btn-success"><span
                class="glyphicon glyphicon-remove-circle"></span> Leave (Joined)</a>
        {% else %}
        <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-sm btn-fill btn-warning"><span
                class="glyphicon glyphicon-ok-circle"></span> Join </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8 ">
    {% if group.posts.count == 0 %}
    <h4>No posts in this group yet!</h4>
    {% else %}
    {% for post in group.posts.all %}
    {% include "post/_post.html"%}
    <hr>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
